<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>EMBEBIDOS</title>
</head>
<body>

<h1>UNIVERSIDAD NACIONAL DE CHIMBORAZO</h1>
<img id="imagen2" src="https://d1yjjnpx0p53s8.cloudfront.net/logounach-01.jpg" alt="user">
<h1>Embebidos</h1>
<img id="imagen" src="/static/images/iot.png" alt="user">

<img id="imagen3" src="https://lh3.googleusercontent.com/proxy/ETQHX73NzrZeJ68u7ElOXLV_AYS48DblFp75ar3WKaK5MCu25PVQq4CeJh1ajG3ONt1kga3B5pDUqRvRxMkbJfkd2H2-GwXZDiVISDcx5t_Fzy7yfBioVm2Fq2Q0jRPhqHp3p4rRO530frCPMDH-xxXV2Qg" alt="ERROR EN LA imagen">
<h1>Sensor:</h><h id="sensor">--</h1>
<button id = 'LED1On'type="button" onclick="LED1_On();">
LED1 ON!</button>

<button id = 'LED1Off' type="button" onclick="LED1_Off();">
LED1_OFF!</button>

<button onclick="alert('PRACTICANDO CON LA PAGINA')">
PRACTICA
</button>

<script>
/*
function LED1_On() {
	alert("led on");
	console.log("led on");
  
}
function LED1_Off(){
	alert("led off");
	console.log("led off");
}
*/
</script>
</body>
</html>
