<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>EMBEBIDOS</title>
</head>
<body>
	<body style="background-color:#33B8FF;">
</body>

<img  align="right" id="imagen2"  src="https://d1yjjnpx0p53s8.cloudfront.net/logounach-01.jpg" alt="user">
<h1 align="center" font="white"><FONT SIZE=7>UNIVERSIDAD NACIONAL DE CHIMBORAZO</font> </h1> 

<h1 align="center" font="white"><FONT SIZE=5>Examen Suspenso Embebidos</font> </h1>
<img id="imagen" align="right" sizes="" rc="/static/images/iot.png" alt="user">

<h1 align="left">Sensor1:</h><h id="sensor">--</h1>

<h1 align="left">Sensor2:</h><h id="sensor">--</h1>

<h1 align="center">Historial:</h><h id="sensor">--</h1>

<button align="center" id = 'Boton1'type="button" onclick="Boton_1();">
VALOR SENSORES</button>

<button align="center" id = 'Boton2' type="button" onclick="Boton_2();">	
HISTORIAL</button>


<script>
/*
function LED1_On() {
	alert("led on");
	console.log("led on");
  
}
function LED1_Off(){
	alert("led off");
	console.log("led off");
}
*/

</script>
<script src="/static/js/index.js"></script>
</body>
</html>
